@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom gradient animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply the animated gradient to the body */
body {
  color: var(--foreground);
  background: linear-gradient(68.3deg, rgb(23, 41, 77) 6.3%, black 65.9%);
  background-size: 400% 400%; /* Bigger size for smoother animation */
  animation: gradientBackground 40s ease infinite; /* 15s animation duration */
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}
@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out forwards;
}
